form{
	width:500px;
	margin:auto;
	padding:20px;
	background:#663366;
	font-size:14px;
	font-family:Verdana;
	color:white;
}


.form-style-3 fieldset{
	border-radius: 10px;
	width:50%;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	margin: 0px 0px 10px 0px;
	border: 1px solid #FFD2D2;
	padding: 20px;
	background: pink;
	box-shadow: inset 0px 0px 15px pink;
	-moz-box-shadow: inset 0px 0px 15px pink;
	-webkit-box-shadow: inset 0px 0px 15px pink;
}
.form-style-3 fieldset legend{
	color: #FFA0C9;
	border-top: 1px solid #FFD2D2;
	border-left: 1px solid #FFD2D2;
	border-right: 1px solid #FFD2D2;
	border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	background: #FFF4F4;
	padding: 0px 8px 3px 8px;
	box-shadow: -0px -1px 2px #F1F1F1;
	-moz-box-shadow:-0px -1px 2px #F1F1F1;
	-webkit-box-shadow:-0px -1px 2px #F1F1F1;
	font-weight: normal;
	font-size: 12px;
	width:50%;
}